@media(max-width: 980px) {

    .topHeader__nav-time,
    .bodyHeader__lang,
    .bodyHeader__order,
    .menu__list {
        display: none;
    }

    .topHeader__nav-contacts {
        grid-area: 1 / 1 / 2 / 8;

    }


    #main {
        height: 20em;
    }

    .main__body>h1 {
        font-size: 2em;
        padding-top: 0;
    }

    .bodyHeader__menu {
        grid-area: 3 / 2 / 3 / 10;
    }

    .bodyHeader__nav {
        grid-area: 2 / 2 / 3 / 11;
    }

    .menu__list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .menu__list-item {
        width: fit-content;
    }
}

@media(max-width: 750px) {

    .topHeader__nav-contacts>li:first-child,
    .bodyHeader__nav-siocial,
    .topHeader__nav-info {
        display: none;
    }

    .menuHeader {
        display: grid;
        grid-template-rows: auto 1fr auto;
        align-items: center;
        height: fit-content;
    }

    .menuHeader::before {
        height: calc(100% / 3);
    }

    .topHeader__nav-contacts {
        grid-area: 1 / 7 / 2 / 13;
        justify-content: end;
    }

    .bodyHeader__nav {
        grid-area: 2 / 1 / 2 / 3;
    }

    .bodyHeader__lang {
        display: flex;
        grid-area: 1 / 1 / 2 / 4;
    }

    .bodyHeader__activ {
        grid-area: 2 / 1 / 3 / 13;
        display: grid;
        grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: max-content;
        align-items: center;
        gap: 6px;
        margin-top: 8px;
    }

    .bodyHeader__nav>button {
        padding: 12px 14px;
        width: 50px;
        height: 51px;
        grid-area: 1 / 1 / 3 / 2;
    }

    .bodyHeader__activ>button:nth-child(2) {
        grid-area: 1 / 2/2/3;
    }

    .bodyHeader__activ>button:nth-child(1) {
        grid-area: 1 / 7 / 2 / 8;

    }

    .bodyHeader__activ>button:nth-child(3) {
        grid-area: 1 / 8 / 2 / 9;

    }

    .bodyHeader__logo {
        grid-area: 2 / 6 / 3 / 8;
    }

    .bodyHeader__logo>svg {
        max-width: 56px;
        max-height: 56px;
    }

    #header {
        height: 170px;
        padding-bottom: 10px;
    }

    .bodyHeader__nav {
        grid-area: 1 / 1 / 5 / 13;
        display: grid;
        grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        position: absolute;
        bottom: -47px;
        gap: 10px;
        width: 100%;
    }

    .bodyHeader__nav-search {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        border: 1px solid var(--color-accent);
        display: flex;
        border-radius: var(--border-radius);
        grid-area: 3 / 1 / 4 / 8;
    }

    .main__wrap>img {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 17em;
    }

    .main__body {
        z-index: 100;
        position: absolute;
        top: 30%;
        transform: translateY(-50%);
        width: 95%;
    }
    
    .main__body>h1 {
        font-size: 26px;
        padding-top: 0;
        width: 100%;
        margin-bottom: 14px;
    }
    
    .main__body>p {
        font-size: 14px;
        padding-top: 0;
        width: 100%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 1.3em;
        height: 3.9em;
    }
    
    #main {
        height: 100vh;
        max-height: 504px;
        background: linear-gradient(100deg, #672870 20%, #4FE0FF 100% 100%);
    }
    .catalog {
        width: max-content;
        left: 0;
        position: fixed;
        right: 0;
        width: auto;
        height: 100%;
    }
}

.back-button-subsubmenu,
.back-button-submenu {
    padding: 10px 16px;
    width: 100px;
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    margin-left: 10px;
}
