/* ========== VARIABLES ========== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Colors */
  --color-text: #343A3F;
  --color-text-light: rgba(52, 58, 63, 0.4);
  --color-accent: #4888FF;
  --color-background: #F4F4F4;
  --color-background-hover: #D4D9DD;
  --color-white: #FFFFFF;
  --color-border: #D3D3D3;

  /* Sizes */
  --border-radius: 8px;
  --base-gap: 8px;
  --header-height: 60px;


  /* Transitions */
  --transition-all: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* ========== BASE STYLES ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition-all);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--color-text);
  font-size: 18px;
  position: relative;
  background-color: var(--color-white);
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  width: 100%;
}

/* ========== UTILITY CLASSES ========== */
.flex {
  display: flex;
}

.container {
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}

/* ========== HEADER STYLES ========== */

.menuHeader__wrap {
  background-color: var(--color-background-hover);
}

.topHeader__nav-contacts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 8px 0;
}

.topHeader__nav-location {
  grid-area: 1/1/2/2;
  display: flex;
  align-items: self-start;
  gap: 10px;
}

.topHeader__nav-location:hover,
.topHeader__nav-tel:hover {
  color: var(--color-accent);
}

.bodyHeader__lang-item>label:hover {
  color: var(--color-accent);
}



.topHeader__nav-time {
  grid-area: 1/2/2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.topHeader__nav-menu {
  grid-area: 1/3/2/4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.topHeader__nav-menu>a:hover {
  color: var(--color-accent);
}

.bodyHeader__content {
  display: grid;
  grid-template-columns: repeat(13, auto);
  grid-template-rows: repeat(2, auto);
  margin-top: 16px;
  margin-bottom: 24px;
  gap: 10px;
}

/*  */


.bodyHeader__logo {
  grid-area: 1 / 1 / 3 / 2;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  margin-right: 20px;
}

.bodyHeader__nav-burger {
  grid-area: 1 / 2 / 2 / 3;
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bodyHeader__nav-burger>button {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 30px;
  flex-direction: column;
}

.bodyHeader__nav-burger>button>span {
  display: block;
  width: 38px;
  height: 2px;
  background-color: var(--color-white);
  margin: 2px 0;
}

.bodyHeader__nav-burger>button>span:nth-child(0) {
  width: 100%;
}

.bodyHeader__nav-burger>button>span:nth-child(2) {
  width: 70%;
}

.bodyHeader__nav-burger>button>span:nth-child(3) {
  width: 100%;
}

/* .bodyHeader__nav-burger>button>span:nth-child(1){
      transform: rotate(45deg);
    }
    .bodyHeader__nav-burger>button>span:nth-child(2){
      display: none;
    }
    .bodyHeader__nav-burger>button>span:nth-child(3){
      transform: rotate(-45deg);
    } */

.bodyHeader__nav-search {
  grid-area: 1/3/2/9;
  border: 1px solid var(--color-border);
  width: 100%;
  height: fit-content;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--color-white);
}

.bodyHeader__nav-search>input {
  padding: 0 24px;
}

.bodyHeader__nav-search>button {
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  color: var(--color-white);
  margin: 4px;

}

.bodyHeader__lang {
  grid-area: 1 / 10 / 2 / 11;
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
}

.bodyHeader__lang-checkeds {
  display: flex;
  gap: 4px;
}

.bodyHeader__lang-item {
  position: relative;
}

.bodyHeader__lang-item>input {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);

}

.bodyHeader__lang-item>label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.bodyHeader__lang-item>input:checked>label:active {
  content: '';
  position: absolute;
  color: var(--color-accent);
}

.bodyHeader__nav-socialsIcon {
  grid-area: 1/9/2/10;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.bodyHeader__nav-tg {
  background-color: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: center
}

.bodyHeader__nav-rr {
  background-color: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: center
}

.bodyHeader__nav-btn {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.bodyHeader__nav-btn:hover>svg {
  fill: var(--color-accent);
}

.bodyHeader__nav-btn:hover {
  background-color: var(--color-background-hover);
}

.bodyHeader__nav-tg>svg,
.bodyHeader__nav-rr>svg {
  width: 24px;
  height: 24px;
  fill: var(--color-text);
}

.bodyHeader__menu {
  grid-area: 2 / 3 / 3 / 9;
}

.bodyHeader__order {
  grid-area: 2/11/3/14;
  background-color: var(--color-background);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  color: var(--color-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.bodyHeader__menu>.menu__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.bodyHeader__activ {
  grid-area: 1/16/2/17;
}

.bodyHeader__activ-btn {
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.bodyHeader__activ-btn:hover>svg {
  fill: var(--color-accent);
}

.bodyHeader__activ-btn>svg {
  width: 24px;
  height: 24px;
  fill: var(--color-text);
}

.like {
  grid-area: 1 / 11 / 2 / 12;
}

.piple {
  grid-area: 1 / 12 / 2 / 13;
}

.box {
  grid-area: 1 / 13 / 2 / 14;
}

.openCatalog {
  position: absolute;
  display: none;
}

.menu__list-item {
  padding: 11px 16px;
  background-color: var(--color-background);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.menu__list-item>button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.menu__list-item>button:hover {
  color: var(--color-accent);
}

.main__wrap {
  width: 100%;
  height: 90vh;
  max-height: 440px;
  position: relative;
  background: linear-gradient(138deg, #672870 29%, #4FE0FF 90%);
  color: var(--color-white);

}

.main__wrap>img {
  height: -webkit-fill-available;
  right: 0;
  top: 1em;
  position: absolute;
}

.main__body {
  display: flex;
  padding: 84px 0 84px 100px;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5em;
}

.main__body>a {
  padding: 10px 20px;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  color: #672870;
}

.main__body>a:hover {
  background-color: var(--color-accent);
  color: var(--color-white);
}